.full-height {
    height: 100vh; /* Full screen height */
}


/* Background colors for each section */
nav{
    background-color: var(--GREEN-PRIMARY);
    color: var(--WHITE);
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
}
nav a{
    color: var(--WHITE);
    font-size: 1.5rem;
}
nav .nav-logo img{
    filter: invert(100%) brightness(1000%);
}

.section-atf {
    background-color: var(--GREEN-PRIMARY);
    color: var(--WHITE);
}
.section-about {
    background-color: var(--LIME-LIGHT);
    color: var(--GREEN-PRIMARY);
}

.section-rtb {
    background-color: var(--GREEN-SECONDARY);
    color: var(--WHITE);
}
/*
.section-use-cases {
    
}
*/
.section-science {
    background-color: var(--GREEN-PRIMARY);
    color: var(--WHITE);
}

.section-social {
    background-color: var(--LIME-LIGHT);
    color: var(--GREEN-PRIMARY);
}

.section-board {
    background-color: var(--GREEN-PRIMARY);
    color: var(--LIME-LIGHT);
}

.section-footer {
    background-color: var(--BLUE-PRIMARY);
    color: var(--WHITE);
}

nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 14rem;
}
.nav-logo img{
    width: 100%;
    display: block;
}
.main-menu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}


/****** ATF SECTION ******/

.section-atf .container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    position: relative;
}

.absolute-image-atf{
    width: 21.125rem;
    right: 4rem;
}

.section-atf-headline{
    width: 60.75%;
}

.section-atf .headline-atf{
    color: var(--LIME-LIGHT);
    line-height: 0.78;
    margin-bottom: 2.75rem;
}
.section-atf p{
    font-size: 1.375rem;
    margin-bottom: 2rem;
}

/****** ABOUT SECTION ******/

.section-about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.section-about--image img{
    width: 90%;
    max-width: 36rem;
    display: block;
}

.section-about-side{
    flex: 1 1 50%;
    box-sizing: border-box;
}

.about-ft-list{
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
    padding-left: 6.5rem;
}

.about-ft-list dt{
    position: relative;
}

.about-ft-list dt::before{
    position: absolute;
    content: "";
    width: 5.5rem;
    height: 5.5rem;
    left: -6.5rem;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.about-ft-list dt:nth-of-type(1)::before{
    background-image: url(../img/3dicon-thumb.png);
}
.about-ft-list dt:nth-of-type(2)::before{
    background-image: url(../img/3dicons-ray.png);
}
.about-ft-list dt:nth-of-type(3)::before{
    background-image: url(../img/3dicons-clock.png);
}
.about-ft-list dt:nth-of-type(4)::before{
    background-image: url(../img/3dicons-dropper.png);
}

.about-ft-list dd{
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.section-about--text .btn-buzz-white{
    margin-left: 9rem;
} 

/****** RTB COLORS ******/

.section-rtb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-rtb .headline-rtb{
    line-height: .95;
    text-align: center;
}

/****** USE CASES COLORS ******/

.section-use-cases .slider{
    height: 100%;
}

.section-use-cases .slider .slide{
    height: 100%;
    background-color: var(--BURGUNDY);
    color: var(--PINK-BRIGHT);
}
.section-use-cases .slide .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.section-use-cases .slide .container .slide-side{
    flex: 1 1 50%;
    box-sizing: border-box;
}
.section-use-cases .slide-side--text{
    font-size: 2.188rem;
}
.section-use-cases .headline-use-cases{
    line-height: .95;
}

/****** USE SCIENCE ******/

.section-science .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.section-science-headline{
    margin-bottom: 2rem;
}

.section-science-text{
    max-width: 29.5rem;
    margin-bottom: 2.75rem;
}
.section-science-text p{
    font-size: 1.5rem;
    line-height: 1.35;
}

/****** USE SOCIAL ******/

.section-social .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-social-side{
    flex: 1 1 50%;
    box-sizing: border-box;
}

.section-social .headline-social{
    line-height: .85;
    margin-bottom: 2.5rem;
}

/****** USE BOARD ******/

.section-board{
    padding: 4rem 2rem;
}

.section-board .headline_board{
    text-align: center;
}

.section-footer{
    padding: 3rem 0;
}
